body { 
	text-align: center;
}

header {
	border: 3px solid #bdf9df;
	background-image:url("img/background.png");
	background position: center;
	background-size: cover;
	color: white;
} 

nav ul li {
	list-style: none;
}


#tupac-poem-img{ 
	width: 150px;
	height :200px; 
}

#Shel-poem-img{
	width: 130px;
	height: 180px;
}

#Rose-poem-img{
 	width: 10%;
 	height:auto;
}
	